<div class="px-2 py-2">
  <div class="px-2 py-2 shadow-lg">
    <h1 class="px-3 py-3">Form Ingredients</h1>
    <div class="px-4 py-3 lg:w-3/4 md:w-5/6 w-full">
      <form
        class="w-full"
        [formGroup]="ingreForm"
        (ngSubmit)="saveIngredients()"
      >
        <div class="flex flex-col my-2">
          <label
            for=""
            class="select-none font-nunito lg:text-base text-sm font-medium"
            >Name</label
          >
          <input
            formControlName="name"
            type="text"
            class="
              px-2
              py-1
              rounded-lg
              text-sm
              lg:w-2/3
              w-[300px]
              border-2 border-gray-200
              focus:outline-none focus:border-orange-400
            "
          />
        </div>
        <div class="flex flex-col my-5">
          <label
            for=""
            class="select-none font-nunito lg:text-base text-sm font-medium"
            >Price</label
          >
          <input
            formControlName="price"
            type="number"
            class="
              px-2
              py-1
              rounded-lg
              text-sm
              lg:w-2/3
              w-[300px]
              border-2 border-gray-200
              focus:outline-none focus:border-orange-400
            "
            min="1000"
          />
        </div>
        <div class="flex flex-col my-5">
          <label
            for=""
            class="select-none font-nunito lg:text-base text-sm font-medium"
            >Item Unit</label
          >
          <input
            formControlName="unit"
            type="text"
            class="
              px-2
              py-1
              rounded-lg
              text-sm
              lg:w-2/3
              w-[300px]
              border-2 border-gray-200
              focus:outline-none focus:border-orange-400
            "
          />
        </div>
        <button
          class="
            px-2
            py-[7px]
            bg-primary
            text-white text-sm
            font-medium
            rounded-md
          "
        >
          Simpan
        </button>
      </form>
      <div *ngIf="httpError">
        <p class="text-red-600 text-xs font-extralight py-3 text-center">
          Periksa Kembali Semua Field Colum Wajib di Isi
        </p>
      </div>
    </div>
  </div>
</div>
