<div class="bg-gray-100 min-h-screen overflow-hidden font-nunito">
  <!-- if login -->
  <div class="flex w-full">
    <div class="relative min-h-screen md:flex w-full">
      <!-- mobile menu bar -->
      <div class="bg-primary">
        <app-sidebar *ngIf="isLoggedIn()"></app-sidebar>
      </div>
      <!-- content -->
      <div
        class="lg:p-10 p-2 text-2xl w-full font-bold sticky"
        [ngClass]="sidebar ? 'z-0' : 'z-10'"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
