<div class="lg:mx-5 mx-1 lg:my-4 my-2 shadow-lg rounded-lg overflow-hidden">
  <div class="lg:px-4 px-1 lg:py-4 py-1 border-b-2 shadow-md border-orange-600">
    <h1 class="font-nunito font-semibold text-2xl">
      Dashboard Ingredients Admin
    </h1>
  </div>
  <div class="px-3 py-8 flex flex-col">
    <div class="flex items-center justify-between">
      <button
        routerLink="form-ingre"
        class="
          font-semibold
          bg-primary
          lg:px-5
          px-2
          py-2
          rounded-lg
          text-white
          flex
          items-center
          lg:text-base
          text-xs
        "
      >
        Add
        <span class="lg:ml-4 ml-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="lg:h-6 lg:w-6 w-3 h-3"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4v16m8-8H4"
            />
          </svg>
        </span>
      </button>
      <div class="flex border-2 rounded lg:mx-0 mx-1">
        <input
          type="text"
          class="lg:px-4 px-2 py-2 lg:w-80 w-40 lg:text-base text-xs"
          placeholder="Search..."
        />
        <button class="flex items-center justify-center px-4 border-l">
          <svg
            class="w-6 h-6 text-gray-600"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="my-5 mx-2 lg:text-base text-xs w-full">
      <div class="overflow-x-scroll">
        <table class="table-auto">
          <thead>
            <tr>
              <th class="text-left px-3 py-1">Name</th>
              <th class="text-left px-3 py-1">Stock</th>
              <th class="text-left px-3 py-1">Price</th>
              <th class="text-left px-3 py-1">Satuan</th>
              <th class="text-left px-3 py-1">Update</th>
              <th class="text-left px-3 py-1">Delete</th>
            </tr>
          </thead>
          <ng-container *ngIf="!isLoading; else table">
            <tbody>
              <tr *ngFor="let item of ingres">
                <td class="text-left px-3 py-1">{{ item.name }}</td>
                <td class="text-left px-3 py-1">{{ item.stock }}</td>
                <td class="text-left px-3 py-1">{{ item.price }}</td>
                <td class="text-left px-3 py-1">{{ item.unit }}</td>
                <td class="text-left px-3 py-1">
                  <button
                    routerLink="/ingre/form-ingre/{{ item.id }}"
                    class="
                      px-2
                      py-2
                      bg-green-700
                      text-white
                      rounded-md
                      font-semibold
                    "
                  >
                    Update
                  </button>
                </td>

                <td class="text-left px-3 py-1">
                  <button
                    (click)="onDeleteIngre(item.id!)"
                    class="
                      px-2
                      py-2
                      bg-red-700
                      text-white
                      rounded-md
                      font-semibold
                    "
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </ng-container>
          <ng-template #table>
            <tbody class="animate-pulse">
              <tr>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
              </tr>
              <tr>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
              </tr>
              <tr>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
              </tr>
              <tr>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
              </tr>
              <tr>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
                <td
                  class="h-4 w-32 mx-2 my-1 border-r-2 border-b-2 bg-gray-400"
                ></td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</div>
