<div class="lg:mx-5 mx-1 lg:my-4 my-2 shadow-lg rounded-lg overflow-hidden">
  <div class="lg:px-4 px-1 lg:py-4 py-1 border-b-2 shadow-md border-orange-600">
    <h1 class="font-nunito font-semibold text-2xl">Dashboard Recipe Admin</h1>
  </div>
  <div class="px-3 py-5 flex flex-col">
    <div class="flex items-center justify-end">
      <div class="relative items-center border-2 rounded lg:mx-0 mx-1 bg-white">
        <input
          type="text"
          class="lg:px-4 px-2 py-2 lg:w-80 w-40 lg:text-base text-xs"
          placeholder="Search..."
        />
        <svg
          class="w-6 h-6 text-gray-600 absolute right-2 top-2 bg-white"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
          />
        </svg>
      </div>
    </div>
    <form
      class="w-full"
      [formGroup]="categoryForm"
      multipart
      (ngSubmit)="saveCategory()"
    >
      <div class="flex flex-col my-5">
        <label for="" class="font-nunito text-lg font-medium">Category</label>
        <input
          formControlName="name"
          type="text"
          class="
            px-2
            py-1
            text-sm
            rounded-lg
            border-2 border-gray-200
            focus:outline-none focus:border-orange-400
          "
        />
      </div>
      <button
        routerLink="form-recipe"
        class="
          font-semibold
          bg-primary
          lg:px-5
          px-2
          py-2
          rounded-lg
          text-white
          flex
          items-center
          lg:text-base
          text-xs
        "
      >
        Save
      </button>
    </form>
  </div>
</div>
